# Standard composer ignored paths
composer.phar
/vendor/

# Standard IDEs ignored paths
.metadata
*.tmp
*.bak
*.swp
composer.lock
*~.nib
local.properties
.settings/
.loadpath
.project
.buildpath
.idea/
