{% extends 'layout.twig' %}
{% block header %}

{% endblock %}
{% block content %}
    <div class="starter-template">
        <p class="lead"></p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Who Are We?</h2>
        </div>
        <div class="col-md-4">
            <h3>Is This A Sidebar?</h3>
            <p>Yes...</p>
        </div>
    </div>
{% endblock %}
